resource "google_service_account" "{{ .ServiceName }}" {
  account_id   = "${local.app_prefix}-{{ .ServiceName }}"
  display_name = "${local.app_prefix}-{{ .ServiceName }}"
  description  = "${local.app_prefix} の {{ .ServiceName }} で利用する SA"
}
